/* =============================================================================
   normalize - http://github.com/necolas/normalize.css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

p, pre {
  margin: 1em 0;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 20px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =============================================================================
   Base styles
   ========================================================================== */

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  color: #666;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: #e5e5e5;
}

h1, h2, h3 {
  color: #333;
  margin: 0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 15px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: #393939;
}

h3 {
  color: #666666;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #3399cc;
  font-weight: 400;
  text-decoration: none;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
}

strong {
  font-weight: bold;
}


hr {
  border: 0;
  outline: none;
  height: 11px;
  margin: 0 0 20px;
}

dt {
  color: #444;
  font-weight: 700;
}


section img {
  max-width: 100%;
}

small {
  font-size: 12px;
}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


.media {
  overflow:hidden;
  *overflow:visible;
  zoom:1;
}

.media .img {
  float:left;
}

.media .img img {
  display:block;
}

.media .bd {
  overflow: hidden;
}

.old {
  text-decoration: line-through;
}

strong {
  color: #575757;
}


/* =============================================================================
   layout
   ========================================================================== */

header {
  padding: 25px 20px 30px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #272727;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;
}

header h1 {
  font: 40px/48px  "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  margin: 0px;
}

header p {
  color: #d8d8d8;
  font-size: 18px;
  margin: 0px;
}

header .media {
  width: 620px;
  margin: auto;
}

header .media .img {
  margin-right: 20px;
  border: 4px solid #4ebbca;
  border-radius: 50%;
}

.portrait {
  width: 80px;
  border-radius: 50%;
}


/* =============================================================================
   layout side
   ========================================================================== */

.side {
  position: fixed;
  top: 210px;
  left: 50%;
  margin-left: -450px;
}

.side ul {
  list-style-image: none;
  list-style-type: none;
}

.side ul a {
  color: #666;
  color: rgba(39,39,39,0.6);
}

.side ul a:hover {
  text-decoration: underline;
}

/* =============================================================================
   layout main
   ========================================================================== */


.quote:before {
  padding-right: 5px;
  float: left;
  display: block;
  height: 30px
}

.quote {
  font-size: 1.2em;
  padding-bottom: 20px;
}

.higlights {
  overflow: hidden;
}

.higlights li {
  float: left;
  width: 50%;
}

#banner {
  z-index: 100;
  left: 0;
  right: 50%;
  height: 30px;
  margin-right: -320px;
  position: fixed;
  top: 125px;
  background: #4ebbca;
  border: 1px solid #37A8B7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

  font-size: 12px;
  line-height: 30px;
}

#banner  a {
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

#banner a:hover {
  color: rgba(39,39,39,0.8);
}

#banner ul {
  list-style: none;
  padding: 0;
  float: right;
  margin-left: 10px;
}

#banner ul li {
  display: inline-block;
  color: rgba(39,39,39,0.6);
  font-weight: bold;
  margin-left: 10px;
  height: 30px;
}

#banner ul li:before {
  font-size: 18px;
  padding-right: 5px;
  font-weight: normal;
}

.wrapper {
  width: 580px;
  margin: 0 auto;
  position: relative;
}

.main {
  padding: 20px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position: relative;
}

.page {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}


/* =============================================================================
   experiences
   ========================================================================== */

.icon:before {
  font-family: 'Pictos Custom';
  content: attr(data-icon);
  vertical-align: middle;
  text-transform: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

li:before {
  /*font-family: 'Pictos Custom';*/
  content: attr('m');
  vertical-align: middle;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

.main h3 {
	border-bottom: 2px solid #666;
	margin-bottom: 20px
}

.main {
	font-size: 12px;
	line-height: 1.3
}

.company {
	color: #37A8B7;
	font-weight: bold;
	font-size: 1.05em;
}

.position {
	color: #272727;
	font-weight: bold;
}

.dates {
	color: #999;
	font-size: 0.9em;
	font-style: italic;
}

.place {
	color: #999;
	font-size: 0.9em;
	font-weight: bold
}

.body {
	padding-top: 10px;
	clear: both;
}

/* =============================================================================
    Print
   ========================================================================== */

@media print {

  .page-break  {
    page-break-before: always;
  }

  body {
    -webkit-print-color-adjust: exact;
    background: #fff;
  }

  ul {
    list-style-image: none !important;
  }

  header {
    padding: 0px;
    padding-bottom: 10px;
    background: none;
  }

  header h1 {
    color: #272727;
  }

  header p {
    color: #666;
  }

  header, #banner {
    position: static;
  }

  .side {
    display: none !important;
  }

  #banner {
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    text-align: center;
    box-shadow: none;
    border: none
  }

  #banner ul {
    margin: auto;
    float: none;
  }


  .main {
    margin-top: 0px;
    float: right;
  }


  .page {
    padding-top: 10px;
    border: none;
    box-shadow: none;
  }

}

